/* CONTAINER STYLING -- -- -- */
.container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SIGN UP FORM STYLING -- -- -- */
.main-content {
    margin-top: 25vh;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: var(--primaryColor);
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title-container {
    width: 90%;
    height: auto;
}

.form-container h2 {
    float: left;
}

form {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

form a {
    margin-bottom: 35px;
    text-decoration: none;
}

form a:hover {
    transition: all .15s ease-in;
    color: var(--secondaryColor);
}

input {
    width: 100%;
    height: 40px;
}

.form-fields {
    padding-left: 10px;
    padding-right: 10px;
}

input[type="submit"] {
    background-color: var(--secondaryColor);
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 600;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--secondaryColorHover);
}

/* RESPONSIVE DESIGN -- -- -- */
@media (max-width: 426px) {
    .main-content {
        margin-top: 15vh;
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}